---
import Card, { type CardProps } from "../components/card/card";
import { verifyIdToken } from "../firebase/server/firebase";
import RootLayout from "../layouts/root-layout.astro";

const idToken = Astro.cookies.get("idToken");
if (idToken && idToken.value) {
  const isValid = await verifyIdToken(idToken.value);
  if (!isValid) {
    return;
  }
}

const cardDetails: CardProps[] = [
  { title: "Profit", amount: 100 },
  { title: "Losses", amount: 20.2 },
  { title: "Bank Roll", amount: 30.1 },
  { title: "Potential Profit", amount: -30.5 },
];
---

<RootLayout>
  <main>
    <div
      class="mx-auto grid max-w-md grid-cols-2 gap-2 p-5 md:max-w-full md:grid-cols-4"
    >
      {cardDetails.map((card) => <Card {...card} />)}
    </div>
  </main>
</RootLayout>
