---
import { ViewTransitions } from "astro:transitions";
import Navbar from "../components/navbar/navbar";
import Toast from "../components/toast/toast";
import { verifySessionCookie } from "../firebase/server/auth";
import "../styles/root.scss";

const cookie = Astro.cookies.get("session")?.value;
const isLogin = cookie ? await verifySessionCookie(cookie) : false;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bet Tracker</title>
    <ViewTransitions />
  </head>
  <body>
    <div transition:persist="toast">
      <Toast client:load />
    </div>
    <div transition:persist="navbar">
      <Navbar isLogin={isLogin} client:load />
    </div>
    <slot />
  </body>
</html>
