---
import "../styles/root.scss";
import Navbar from "../components/navbar/navbar";
import { ViewTransitions } from "astro:transitions";
import Toast from "../components/toast/toast";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bet Tracker</title>
    <script>
      import "htmx.org";
    </script>
    <ViewTransitions />
  </head>
  <body>
    <div transition:persist="toast">
      <Toast client:load />
    </div>
    <div transition:persist="navbar">
      <Navbar client:load />
    </div>
    <slot />
    <script>
      const routeGuard = () => {
        const token = localStorage.getItem("user");
        if (!token && window.location.pathname !== "/sign-in") {
          window.location.href = "/sign-in";
        }
      };

      document.addEventListener("astro:page-load", routeGuard);
      document.addEventListener("astro:after-swap", routeGuard);
    </script>
  </body>
</html>
